body{
  margin:0;
  padding:0;
  background-color:	#2F4F4F;
}

#header { 
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
  height: 80px;
  background-color: #282828;
  border-bottom: 1px solid #A0A0A0;
}

#nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin:1% 1%;
}

#nav-btns {
  display: flex;
  flex-flow: wrap;
}

#btn {
  width: 130px;
  height: 30px;
  font-size: 18px;
  padding:2px;
  border-radius: 5px;
}

#clear-btn {
  width: 130px;
  height: 30px;
  font-size: 18px;
  margin-left: 20px;
  padding:2px;
  border-radius: 5px;
}

form input {
  width: 250px;
  height: 24px;
  font-size: 17px;
}

form button {
  width: 100px;
  height: 30px;
  font-size: 17px;
}

button:hover {
  cursor: pointer;
  background-color: #BEBEBE;
}

#container {
  margin: 100px 1%;
  z-index: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.myDivs{
  margin-top: 30px;
  width: 28%; 
}

.reposData {
  padding: 5px;
}

.myRepos {
  background-color:	#F0FFFF;
  margin-bottom: 20px;
  border: 1px solid 	#A52A2A;
  padding: 5px;
  width:100%;
}

.myLink{
  margin-left: 2%;
  margin-right: 10px;
  font-family: 'Signika', sans-serif;
}

#container:after {
  display:table;
  clear:both;
}

#content{
  height: auto;
}

#contributor{
  height: auto;
  background-color:	#8FBC8F;
  text-align: center;
  border-radius: 10px;
}

img{
  width: 40%;
  height: auto;
}

#searchResult{
  height: auto;
  color: white;
  font-size: 20px;
  word-wrap: break-word;
  border: 1px solid white;
  border-radius: 10px;
}

#searchResult div{
  display:none;
}

#searchResult div:first-child {
  display: block;
}


@media only screen and (max-width: 680px) {
  #nav-btns {
    display: flex;
    flex-direction: column;
  }

  #clear-btn {
    margin-top: 2%;
    margin-left: 0;
  }
}
